.main{
    margin-top: 200px;
    text-align: center;
}

.logo{
   display: block; 
    width: 300px;   
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto; 
  
}

.input-field{
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 30px;
    height: 45px;
    border: 1px solid rgb(43, 36, 35);
    padding-left: 20px;
    font-size: 17px;
    padding-right: 20px;
}

.search{
    display: inline;
    margin-top: 30px;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    border: 1px solid black;
}

.lucky{
    display: inline;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    border: 1px solid black;
}

